* {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  gap: 5rem;
  position: relative;
}
body::before {
  content: '';
  background-image: url(images/library.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  user-select: none;
  z-index: -1;
}
main {
  width: 60%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.books-display {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
}

.book {
  aspect-ratio: 1 / 1.414;
  border: 1px solid #626262;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  background-color: #faf9f9;
}
.book:hover {
  transform: translateY(-5px);
}

.book img {
  height: 45%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.book-info {
  margin-bottom: auto;
  padding: 5px 5px 0 5px;
}
.book-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 5px;
}

.add-book {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2ca;
  cursor: pointer;
}
.add-book:hover {
  background-color: #fff;
}

/* FORM */
.form-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#form {
  height: 400px;
  width: 350px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  border-radius: 15px;
  font-weight: 700;
}
#form h2 {
  text-align: center;
}

#form button {
  align-self: center;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  background-color: #7c815f;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}
#form button:hover {
  opacity: 0.8;
}
.form-title,
.form-author,
.form-pages {
  display: flex;
  flex-direction: column;
}
.form-read {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2px;
}
.form-title label,
.form-author label,
.form-pages label,
.form-read label {
  padding: 5px 0;
}

#form input {
  border: none;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 5px;
}
input:focus {
  outline: 1px solid #a2a2a2;
}
.form-read input {
  width: 0.8rem;
}
